<div class="ab-events">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center ab-primary">Upcoming Events</h2>  
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4 class="text-center">Meetup - May 8th</h4>  
      </div>
      <div class="col-md-3">
        <h4 class="text-center">Workshop - May 22th</h4>  
      </div>
      <div class="col-md-3">
        <h4 class="text-center">Meetup - June 12th</h4>  
      </div>
      <div class="col-md-3">
        <h4 class="text-center">Workshop - June 26th</h4>  
      </div>
    </div>
  </div>
</div>