<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 jumbotron">
      <h2 class="text-center">Join our<img class="slack-logo" src="/src/assets/images/ab-slack-logo.png" alt="">Team</h2>  
      <form>
        <div class="row">
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Your Email">
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Request Slack Invite</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>